@charset "UTF-8";
/*====Common Travelers Theme====*/
.btn {
	background-color: #232F34;
	color: white;
}
.btn.btn-album {
	background-color: white;
    color: black;
    border: 2px solid #F9AA33; /* Green */
}
.btn_album_delete {
	border: #344955 1px;
	background-color: white;
}
a {
   color: black;
}

/*===login.jsp===*/
body.login {
	margin-top: 5rem;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f5f5f5;
	text-align: center;
}
.form-signin {
	width: 100%;
	max-width: 440px;
	padding: 15px;
	margin: auto;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
 	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/*===registration & my page & user modify===*/
body.registration, body.mypage, body.usermodify{
	margin-top: 3rem;
	background-color: #f5f5f5;
}
/*responsive under 768px*/
@media ( max-width : 768px) {
	
	img.registration {
		display: none;
	}
}
/*===tripWrite.jsp===*/
.input-box input[type=number], .input-box input[type=text] {
	border: none;
	border-bottom: 1px solid #999;
}
.input-box input[type=text]:focus{
	border: none;
	border-bottom: 2px solid #344955 !important;
}
body {
	padding-top: 5rem;
}
.input-box {
	padding: 3rem 1.5rem;
	text-align: center;
}
.form-group{
	margin-bottom:0.6rem !important;
}
.form-group:focus{
	border-color: #5cb85c;  
	box-shadow: none;  
	-webkit-box-shadow: none;
}
.form-control-lg{
	border-radius: 0px;
}
#searchmap{
	position:relative;
	bottom:-10px;
	height: 200px;
	margin:auto;
	padding : 3px;
}
#floating-panel {
	position: relative;
	top: 5px;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 5px;   
}
.btn_plus{
	background-color: transparent !important;
	border-color: transparent;
    border: none;
}
.btn_del{
	height:20px !important;
	width:20px !important;
	background-color: transparent !important;
	border-color: transparent;
    border: none;
}
button img{
	height:30px;
	width:30px;
	outline:none;
}
/*===trip.jsp===*/
.trip input[type=number], .trip input[type=text] {
	border: none;
	border-bottom: 1px solid #999;
	background-color: white !important;
	border-radius: 0px;
}
.trip input[type=number]:focus, .trip input[type=text]:focus {
	outline: none;
	box-shadow:none !important;
}
.loc input[type=text]{
	border: none;
}
#map {
	position: relative;
	height: 300px; /* The height is 300 pixels */
	width: 100%; /* The width is the width of the web page */
	border: 1px black solid;
}
/*===tripList.jsp===*/
.board-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}
.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
}
.body-box { 
   padding-top: 20px;
}
aside {
	width:25%;
	float:right;
}
#top {
	padding-bottom:20px;
}
#left {
	width:75%;
}
#loading-button.button {
	width:100%;
}
h1.body-box, h2.body-box, h3.body-box, h4.body-box, h5.body-box, h6.body-box {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.thumbnail {
	margin-top:25px;
	width:25%;
	height:auto;
}

@media ( min-width : 768px) {
	.display-4 {
		font-size: 3rem;
	}
}
.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}
.nav-scroller .nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.nav-scroller .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}
.card-img-right {
	height: 100%;
	border-radius: 0 3px 3px 0;
}
.flex-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
.h-250 {
	height: 250px;
}
@media ( min-width : 768px) {
	.h-md-250 {
		height: 250px;
	}
}
div.left {
        width: 50%;
        float: left;
}
div.right {
        width: 50%;
        float: right;
}



/*===Footer===*/
.board-footer {
	grid-area:footer;
	padding: 2.5rem 0;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}
.board-footer p:last-child {
	margin-bottom: 0;
}
/*===tripList's GOOGLE MAP===*/
.pac-card {
  margin: 5px 0 0 5px;
  border-radius: 2px 0 0 2px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  width:98%;
  overflow:hidden;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

/*===reportView===*/

.separator1 {
    margin-top: 30px;
    padding: 50px 20px 0 20px;
    text-align: center;
}

.separator {

    margin-top: 80px;
    padding: 21px;
    text-align: center;
    color: #212121;
}
